﻿<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <MudText Typo="Typo.h4">Входим в систему...</MudText>
                </Authorizing>
                <NotAuthorized>
                    <RedirectToLogin/>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <MudText Typo="Typo.h3">404</MudText>
                <MudAlert Severity="Severity.Error">
                    Извините, по этому адресу ничего нет.
                    <br/>
                    <MudLink Href="/" Color="Color.Inherit">
                        <b>Вернуться на главную страницу</b>
                    </MudLink>
                </MudAlert>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>