@page "/tester/reports"
@using TodoStudent.Shared.EditModels
@using TodoStudent.Shared.Interfaces.Refit
@using TodoStudent.Shared.Models
@using TodoStudent.Shared.ViewModels

@layout TesterLayout

<MudGrid>
    <MudItem xs="12">
        <MudText Typo="Typo.h3">Мои отчёты</MudText>
    </MudItem>
    <MudItem xs="12">
        @if (Loading)
        {
            <MudSkeleton Height="50vh" SkeletonType="SkeletonType.Rectangle"/>
        }
        else
        {
            <MudTable Items="Models" FixedHeader="true" Hover="true" SortLabel="Sort By" Elevation="0">
                <ToolBarContent>
                    <MudText Typo="Typo.h6">Отчёты</MudText>
                </ToolBarContent>
                <HeaderContent>
                    <MudTh>
                        <MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<UserCheckListReportViewModel, object>(x => x.CheckList?.name)">
                            Название
                        </MudTableSortLabel>
                    </MudTh>
                    <MudTh>
                        <MudTableSortLabel
                            SortBy="new Func<UserCheckListReportViewModel, object>(x => x.StartedAt)">
                            Дата начала
                        </MudTableSortLabel>
                    </MudTh>
                    <MudTh>
                        <MudTableSortLabel
                            SortBy="new Func<UserCheckListReportViewModel, object>(x => x.FinishedAt)">
                            Дата окончания
                        </MudTableSortLabel>
                    </MudTh>
                    <MudTh>Версия</MudTh>
                    <MudTh>Действие</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Название">@(context.CheckList?.name)</MudTd>
                    <MudTd DataLabel="Дата начала">@context.StartedAt.ToString("dd.MM.yyyy")</MudTd>
                    <MudTd DataLabel="Дата окончания">@context.FinishedAt?.ToString("dd.MM.yyyy")</MudTd>
                    <MudTd DataLabel="Версия">
                        <MudChip Text="@(context.ProductVersion?.name ?? "не загрузилась")"/>
                    </MudTd>
                    <MudTd DataLabel="Действие">
                        <MudGrid>
                            <MudItem>
                                <MudFab Label="Изменить"
                                        Size="Size.Small"
                                        StartIcon="@Icons.Material.Filled.Edit"
                                        Href="@($"/tester/reports/{context.ID}/edit")"
                                        DisableElevation="true"/>
                            </MudItem>
                        </MudGrid>
                    </MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager/>
                </PagerContent>
            </MudTable>
        }
    </MudItem>
</MudGrid>

@code {
    private bool Loading = false;

    [Inject]
    public IUserCheckListReportController ModelController { get; set; }

    [Inject]
    public ICore Core { get; set; }

    public List<UserCheckListReportViewModel> Models { get; set; } = new();
    public List<CheckListModel> CheckLists { get; set; } = new();
    public List<ProductVersionModel> ProductVersion { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadDates();
    }

    private async Task LoadDates()
    {
        try
        {
            Models = await ModelController.GetAll();
            CheckLists = await Core.GetCheckLists();

            foreach (var model in Models)
            {
                model.CheckList = CheckLists.FirstOrDefault(x => x.id == model.TodoListID);
    // var versions = await Core.GetProductVersions(model.pro)

    // TODO
    // model.ProductVersion =  
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

}