@page "/tester/reports/{ID:int}/edit"
@page "/tester/reports/create"
@using TodoStudent.Shared.EditModels
@using TodoStudent.Shared.Interfaces.Refit
@using TodoStudent.Shared.Models
@using TodoStudent.Shared.ViewModels
@using AutoMapper
@layout TesterLayout

<MudGrid>
    <MudItem xs="12">
        <MudGrid>
            <MudItem>
                <MudFab DisableElevation="true"
                        StartIcon="@Icons.Material.Filled.ArrowBack"
                        Text="Назад" Href="/tester/reports"/>
            </MudItem>
            <MudItem>
                <MudText Typo="Typo.h3">@PageTitle</MudText>
            </MudItem>
            @if (IsEdit)
            {
                <MudItem xs="12">
                    <MudButton Href=@($"/tester/reports/{ID}/info") StartIcon="@Icons.Material.Filled.Checklist">Открыть тесты</MudButton>
                </MudItem>
            }
        </MudGrid>
    </MudItem>
    <MudItem xs="12" md="8">
        <EditForm @ref="EditForm" Model="@Model" OnValidSubmit="OnValidSumbit">
            <DataAnnotationsValidator/>
            <MudGrid>
                <MudItem xs="12">
                    <MudCard>
                        <MudCardContent>
                            <MudAutocomplete
                                @ref="MudProduct"
                                T="ProductModel"
                                Label="Продукт"
                                SearchFunc="@SearchProduct"
                                @bind-Value="SelectedProduct"
                                ToStringFunc="@(x => x != null ? x.name : null)"/>

                            <MudAutocomplete
                                @ref="MudProductVersion"
                                T="ProductVersionModel"
                                Label="Версия продукта"
                                SearchFunc="@SearchProductVersion"
                                @bind-Value="SelectedProductVersion"
                                ToStringFunc="@(x => x != null ? x.name : null)"/>

                            <MudAutocomplete
                                @ref="MudCheckList"
                                T="CheckListModel"
                                Label="Чек-лист"
                                SearchFunc="@SearchCheckList"
                                @bind-Value="SelectedCheckList"
                                ToStringFunc="@(x => x != null ? x.name : null)"/>

                            <MudTextField T="string"
                                          Label="Название платформы"
                                          @bind-Value="Model.PlatformName"
                                          For="() => Model.PlatformName"/>
                            <MudTextField T="string"
                                          Label="Версия платформы"
                                          @bind-Value="Model.PlatformVersion"
                                          For="() => Model.PlatformVersion"/>

                            <MudTextField Label="Описание" Lines="3" @bind-Text="Model.Description" @bind-Value="Model.Description" For="() => Model.Description"/>

                            <MudTextField Label="Ссылка на файл" @bind-Value="Model.FileUrl" For="() => Model.FileUrl"/>

                        </MudCardContent>
                        <MudCardActions>
                            <MudTooltip Delay="1000" Text="Сохранить">
                                <MudFab ButtonType="ButtonType.Submit"
                                        DisableElevation="true"
                                        StartIcon="@Icons.Material.Filled.Save"
                                        Color="Color.Primary"/>
                            </MudTooltip>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </EditForm>
    </MudItem>
</MudGrid>

@code {

    [Parameter]
    public int? ID { get; set; }

    public bool IsEdit => ID != null;
    public string PageTitle => IsEdit ? "Изменение отчёта" : "Создание отчёта";

    private UserCheckListReportEditModel Model = new();

    [Inject]
    public IUserCheckListReportController ModelController { get; set; }

    public List<CheckListModel> CheckLists { get; set; } = new();
    public List<ProductModel> Products { get; set; } = new();
    public List<ProductVersionModel> ProductVersions { get; set; } = new();

    private MudAutocomplete<ProductModel> MudProduct;
    private MudAutocomplete<ProductVersionModel> MudProductVersion;
    private MudAutocomplete<CheckListModel> MudCheckList;

    private EditForm EditForm;

    [Inject]
    public ICore Core { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.WhenAny(LoadDates());
    }

    private async Task LoadDates()
    {
        try
        {
            Products = await Core.GetProducts();

            foreach (var product in Products)
            {
                ProductVersions.AddRange(await Core.GetProductVersions(product.id));
            }

            CheckLists = await Core.GetCheckLists();

            if (IsEdit)
            {
                Model = Mapper.Map<UserCheckListReportEditModel>(await ModelController.GetByID(ID.Value));
                SelectedProductVersion = ProductVersions.FirstOrDefault(x => x.id == Model.ProductVersionID);
                SelectedProduct = Products.FirstOrDefault(x => x.id == SelectedProductVersion?.product_id);
                SelectedCheckList = CheckLists.FirstOrDefault(x => x.id == Model.TodoListID);
            }

            StateHasChanged();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }

        Loading = false;
    }

    private bool Loading = true;

    public ProductModel? SelectedProduct { get; set; }
    public ProductVersionModel? SelectedProductVersion { get; set; }
    public CheckListModel? SelectedCheckList { get; set; }

    [Inject]
    public ISnackbar Snackbar { get; set; }

    private async Task OnValidSumbit()
    {
        try
        {
            if (SelectedProduct == null)
            {
                Snackbar.Add("Выберите продукт!", Severity.Error);
                return;
            }
            if (SelectedProductVersion == null)
            {
                Snackbar.Add("Выберите версию продукта!", Severity.Error);
                return;
            }
            if (SelectedCheckList == null)
            {
                Snackbar.Add("Выберите чек-лист!", Severity.Error);
                return;
            }

            if (SelectedCheckList.product_id != SelectedProduct.id)
            {
                Snackbar.Add("Выбранный чек-лист не совпадает с продуктом!", Severity.Error);
                return;
            }

            if (SelectedProductVersion.product_id != SelectedProduct.id)
            {
                Snackbar.Add("Выбранная версия не совпадает с продуктом!", Severity.Error);
                return;
            }

            Model.ProductVersionID = SelectedProductVersion.id;
            Model.TodoListID = SelectedCheckList.id;

            var result = IsEdit ?
                await ModelController.Update(ID.Value, Model) :
                await ModelController.Create(Model);

            Model = Mapper.Map<UserCheckListReportEditModel>(result);
            ID = result.ID;
            StateHasChanged();
            Snackbar.Add("Отчёт сохранён успешно", Severity.Success);

            NavigationManager.NavigateTo($"/tester/reports/{ID}/edit");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    [Inject]
    public IMapper Mapper { get; set; }

    private async Task<IEnumerable<ProductModel>> SearchProduct(string arg)
    {
        if (string.IsNullOrWhiteSpace(arg))
        {
            return Products;
        }

        return Products.Where(x => $"{x.name} {x.description}".Contains(arg, StringComparison.InvariantCultureIgnoreCase));
    }

    private async Task<IEnumerable<ProductVersionModel>> SearchProductVersion(string arg)
    {
        if (string.IsNullOrWhiteSpace(arg))
        {
            return ProductVersions;
        }

        return ProductVersions
            .Where(x => x.product_id == SelectedProduct?.id)
            .Where(x => $"{x.name} {x.description}"
                .Contains(arg, StringComparison.InvariantCultureIgnoreCase));
    }

    private async Task<IEnumerable<CheckListModel>> SearchCheckList(string arg)
    {
        if (string.IsNullOrWhiteSpace(arg))
        {
            return CheckLists;
        }

        return CheckLists
            .Where(x => x.product_id == SelectedProduct?.id)
            .Where(x => $"{x.name} {x.description}"
                .Contains(arg, StringComparison.InvariantCultureIgnoreCase));
    }

}