@page "/tester/reports/{ID:int}/info"

@layout TesterLayout

@using TodoStudent.Client.Components
@using TodoStudent.Shared.Interfaces.Refit
@using TodoStudent.Shared.Models
@using TodoStudent.Shared.ViewModels

<MudGrid Spacing="2">
    <MudItem xs="12">
        <MudPaper Class="pa-4">
            @if (Loading)
            {
                <MudSkeleton SkeletonType="SkeletonType.Text" Width="50vh" />
            }
            else
            {
                <MudText Typo="Typo.h3">
                    @(Model.CheckList?.description)
                </MudText>
            }
        </MudPaper>
    </MudItem>
    @if (Loading)
    {
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="50vh"/>
    }
    else
    {
        <MudItem xs="12">
            <MudPaper Class="pa-2">
                <MudGrid Class="align-center">
                    <MudItem>
                        @* TODO *@
                        <MudButton Color="Color.Warning" StartIcon="@Icons.Material.Filled.CallEnd">Окончить</MudButton>
                    </MudItem>
                </MudGrid>
            </MudPaper>
        </MudItem>
    @* Tasks *@
        <MudItem xs="12">
            <MudGrid xs="12">
                <MudItem xs="12">
                    <MudText Typo="Typo.h4">Задачи</MudText>
                </MudItem>
                <MudItem xs="12">
                    <MudGrid>
                        <MudItem>
                            <MudTreeView Items="ClearedModels">
                                <ItemTemplate>
                                    <MudTreeViewItem Items="@context.subtasks" @bind-Expanded="@context.Expanded">
                                        <Content>
                                            <MudTreeViewItemToggleButton @bind-Expanded="@context.Expanded" Visible="@context.subtasks.Any()"/>
                                            <TaskCard Model=@context ReportID=@ID/>
                                        </Content>
                                    </MudTreeViewItem>
                                </ItemTemplate>
                            </MudTreeView>
                        </MudItem>
                    </MudGrid>
                </MudItem>
            </MudGrid>
        </MudItem>

        <MudItem xs="12">
            <MudPaper Class="pa-2">
                <MudGrid>
                    <MudItem xs="12">
                        <MudText>Информация о чек-листе: @(Model?.CheckList?.description)</MudText>
                        <MudText>Описание: @(Model?.CheckList?.description)</MudText>
                    </MudItem>
                </MudGrid>
            </MudPaper>
        </MudItem>
    }

</MudGrid>

@code{

    [Parameter]
    public int ID { get; set; }

    public bool Loading { get; set; } = true;

    public List<TaskModel> Tasks { get; set; } = new();
    public HashSet<TaskModel> ClearedModels { get; set; } = new();

    public UserCheckListReportViewModel? Model { get; set; }

    [Inject]
    public IUserCheckListReportController ModelController { get; set; }
    
    [Inject]
    public IUserTaskReportController TaskReportController { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000);
        await LoadDates();
    }

    public List<UserTaskReportViewModel> TaskReports { get; set; } = new();

    [Inject]
    public ICore Core { get; set; }

    private async Task LoadDates()
    {
        try
        {
            ClearedModels = (await Core.GetTasksByCheckListID(ID)).ToHashSet();
            var models = await Core.GetCheckLists();
            Model = await ModelController.GetByID(ID);
            Model.CheckList = models.FirstOrDefault(x => x.id == Model.TodoListID);

            Tasks = await Core.GetTasksByCheckListID(Model.TodoListID);
            TaskReports = await TaskReportController.GetByCheckListID(ID);

            foreach (var task in Tasks)
            {
                task.ReportTask = TaskReports.FirstOrDefault(x => x.TaskID == task.id);
                task.ReportTaskID = task.ReportTask?.ID;
            }

            ClearedModels = Tasks.ToHashSet();
            StateHasChanged();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
        Loading = false;
    }

}