﻿@page "/"

<PageTitle>Главная страница</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">BestTeam</MudText>
<MudText Class="mb-8">Добро пожаловать в систему контроля тестирования!</MudText>
<MudAlert Severity="Severity.Normal">Это клиентская часть. Админская часть <MudLink Href="https://admin.todo.kaboom.pro" Typo="Typo.body2" Color="Color.Inherit"><b>находится здесь.</b></MudLink></MudAlert>
