@page "/tester"

@layout TesterLayout

<PageTitle>Страница тестировщика</PageTitle>

<MudGrid>
    <MudItem xs="12">
        <MudText Typo="Typo.h4">Здравствуйте!</MudText>
    </MudItem>

    <MudItem xs="12">
        <MudText>Быстрые действия, которые доступны здесь:</MudText>
    </MudItem>

    <MudItem>
        <a href="tester/checklists">
            <MudPaper Class="pa-3" Elevation="0" Outlined="true">
                <MudIcon Icon="@Icons.Material.Filled.List"/>
                <MudText>Открыть чек-листы</MudText>
            </MudPaper>
        </a>
    </MudItem>
    <MudItem>
        <a href="tester/reports">
            <MudPaper Class="pa-3" Elevation="0" Outlined="true">
                <MudStack Row="true">
                    <MudIcon Icon="@Icons.Material.Filled.VolunteerActivism"/>
                </MudStack>
                <MudText>Открыть отчёты</MudText>
            </MudPaper>
        </a>
    </MudItem>
</MudGrid>

@code {
    
}