@page "/auth/user"
@page "/auth"
@page "/auth/user/{login}"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Refit
@using TodoStudent.Client.Providers
@using TodoStudent.Shared.Interfaces.Refit
@using TodoStudent.Shared.Models
@using Majorsoft.Blazor.Extensions.BrowserStorage

<PageTitle>Аутентификация</PageTitle>

@attribute [AllowAnonymous]

<MudText Typo="Typo.h3">Вход в систему</MudText>

<MudGrid>
    <MudItem xs="12" md="6">
        <EditForm Model="@Model" OnValidSubmit="OnValidSubmitAsync">
            <DataAnnotationsValidator/>
            <MudCard>
                <MudCardContent>
                    <MudTextField T="string" @bind-Value="Model.Login" For="() => Model.Login"
                                  Label="Логин"/>
                    <MudTextField T="string" @bind-Value="Model.Password"
                                  Label="Пароль"
                                  InputType="@PasswordInput"
                                  Adornment="Adornment.End"
                                  AdornmentIcon="@PasswordInputIcon"
                                  OnAdornmentClick="showPassword"
                                  For="() => Model.Password"
                                  AdornmentAriaLabel="Показать пароль"/>
                </MudCardContent>
                <MudCardActions Class="d-flex align-center justify-space-between">
                    <MudGrid>
                        <MudItem>
                            <MudCheckBox T="bool" @bind-Checked="rememberMe" Required="false" Label="Запомнить данные"/>
                        </MudItem>
                        <MudItem>
                            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Войти</MudButton>
                        </MudItem>
                        <MudItem>
                            <MudButton Variant="Variant.Filled" Color="Color.Secondary" Href="/auth/register" Class="ml-auto">Регистрация</MudButton>
                        </MudItem>
                    </MudGrid>
                </MudCardActions>
            </MudCard>
        </EditForm>
    </MudItem>
</MudGrid>

@code
{
    [Inject]
    private IAuthController AuthController { get; set; }

    [Inject]
    private ILocalStorageService LocalStorage { get; set; }

    [Inject]
    private NavigationManager NavigationManager { get; set; }

    [Inject]
    private AuthenticationStateProvider AuthenticationProvider { get; set; }

    [Inject]
    private ISnackbar Snackbar { get; set; }

    [Parameter, SupplyParameterFromQuery]
    public string? BackUrl { get; set; }

    [Parameter]
    public string login { get; set; }

    UserAuthModel Model = new();
    bool rememberMe = false;

    bool isShow;
    InputType PasswordInput = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;

    void showPassword()
    {
        if (isShow)
        {
            isShow = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            isShow = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var lDotNetReference = DotNetObjectReference.Create(this);

        if (!firstRender)
            return;

        var auth = await LocalStorage.GetItemAsync<UserAuthModel>("Auth");

        if (auth != null)
        {
            rememberMe = true;
            Model = auth;
        }

        if (login != null)
        {
            Model.Login = login;
        }

        StateHasChanged();
    }

    private async Task OnValidSubmitAsync()
    {
        try
        {
            if (rememberMe)
            {
                await LocalStorage.SetItemAsync("Auth", Model);
            }
            else
            {
                await LocalStorage.RemoveItemAsync("Auth");
            }

            var res = await AuthController.AuthUser(Model);
            if (res.Status)
            {
                var authModel = res.Data;
                if (authModel != null)
                {
                    await LocalStorage.SetItemAsync("authHelperModel", authModel);

                    ((CustomAuthenticationProvider)AuthenticationProvider).NotifyUserLogin(authModel.EntityJSON);
                    StateHasChanged();
                }

                Snackbar.Add("Аутентификация успешно выполнена", Severity.Success);
                NavigationManager.NavigateTo(BackUrl ?? "/");
            }
            else
            {
                Snackbar.Add(res.Name, Severity.Error);
            }
        }
        catch (ValidationApiException exception)
        {
            Snackbar.Add(exception.Content.ToString(), Severity.Error);
        }
        catch (ApiException exception)
        {
            Snackbar.Add(exception.Content, Severity.Error);
        }
    }
}