@page "/auth/register"
@using TodoStudent.Shared.EditModels
@using TodoStudent.Shared.Interfaces.Refit
@using Majorsoft.Blazor.Extensions.BrowserStorage
@using TodoStudent.Client.Providers
@using Refit

<PageTitle>Регистрация</PageTitle>

<MudGrid>
    <MudItem xs="12" md="6">
        <EditForm Model="@Model" OnValidSubmit="OnValidSubmitAsync">
            <DataAnnotationsValidator/>
            <MudCard>
                <MudCardContent>
                    <MudTextField T="string" @bind-Value="Model.Name" For="() => Model.Name"
                                  Label="Имя"/>
                    <MudTextField T="string" @bind-Value="Model.Login" For="() => Model.Login"
                                  Label="Логин"/>
                    <MudTextField T="string" @bind-Value="Model.Password"
                                  Label="Пароль"
                                  InputType="@PasswordInput"
                                  Adornment="Adornment.End"
                                  AdornmentIcon="@PasswordInputIcon"
                                  OnAdornmentClick="showPassword"
                                  For="() => Model.Password"
                                  AdornmentAriaLabel="Показать пароль"/>

                    <MudTextField T="string" @bind-Value="Model.RepeatPassword"
                                  Label="Повторите пароль"
                                  InputType="@(isShowTwo ? InputType.Text : InputType.Password)"
                                  Adornment="Adornment.End"
                                  AdornmentIcon="@(isShowTwo ? Icons.Material.Filled.VisibilityOff : Icons.Material.Filled.Visibility)"
                                  OnAdornmentClick="@( () => isShowTwo = !isShowTwo)"
                                  For="() => Model.RepeatPassword"
                                  AdornmentAriaLabel="Показать пароль"/>
                </MudCardContent>
                <MudCardActions Class="d-flex align-center justify-space-between">
                    <MudGrid>
                        <MudItem>
                            <MudCheckBox T="bool" @bind-Checked="rememberMe" Required="false" Label="Запомнить данные"/>
                        </MudItem>
                        <MudItem>
                            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Зарегистрироваться</MudButton>
                        </MudItem>
                    </MudGrid>
                </MudCardActions>
            </MudCard>
        </EditForm>
    </MudItem>
</MudGrid>

@code
{
    [Inject]
    private IAuthController AuthController { get; set; }

    [Inject]
    private ILocalStorageService LocalStorage { get; set; }

    [Inject]
    private CustomAuthenticationProvider AuthenticationProvider { get; set; }

    [Inject]
    private NavigationManager NavigationManager { get; set; }

    [Inject]
    private ISnackbar Snackbar { get; set; }

    [Parameter, SupplyParameterFromQuery]
    public string? BackUrl { get; set; }

    [Parameter]
    public string login { get; set; }

    UserEditModel Model = new();
    bool rememberMe = false;

    bool isShow;
    bool isShowTwo;
    InputType PasswordInput = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;

    void showPassword()
    {
        if (isShow)
        {
            isShow = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            isShow = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        StateHasChanged();
    }

    private async Task OnValidSubmitAsync()
    {
        try
        {
            var res = await AuthController.CreateUser(Model);
            if (res.Status)
            {
                var authModel = res.Data;
                if (authModel != null)
                {
                    await LocalStorage.SetItemAsync("authHelperModel", authModel);

                    ((CustomAuthenticationProvider)AuthenticationProvider).NotifyUserLogin(authModel.EntityJSON);
                    StateHasChanged();
                }

                Snackbar.Add("Вы зарегистрированы! Аутентификация успешно выполнена.", Severity.Success);
                NavigationManager.NavigateTo(BackUrl ?? "/");
            }
            else
            {
                Snackbar.Add(res.Name, Severity.Error);
            }
        }
        catch (ValidationApiException exception)
        {
            Snackbar.Add(exception.Content.ToString(), Severity.Error);
        }
        catch (ApiException exception)
        {
            Snackbar.Add(exception.Content, Severity.Error);
        }
    }
}