@page "/tester/checklists/{CheckListID:int}/tasks/{TaskID:int}/{ID:int}/edit"
@page "/tester/checklists/{CheckListID:int}/tasks/{TaskID:int}/create"

@page "/tester/reports/{ReportID:int}/tasks/{TaskID:int}/create"
@page "/tester/reports/{ReportID:int}/tasks/{ID:int}/edit"


@using TodoStudent.Client.Components
@layout TesterLayout

<PageTitle>@PageTitle</PageTitle>

<MudGrid>
    <MudItem xs="12">
        <MudGrid>
            <MudItem>
                <MudFab DisableElevation="true"
                        StartIcon="@Icons.Material.Filled.ArrowBack"
                        Text="Назад" Href=@GetBackUrl()/>
            </MudItem>
            <MudItem>
                <MudText Typo="Typo.h3">@PageTitle</MudText>
            </MudItem>
        </MudGrid>
    </MudItem>
    <MudItem xs="12" md="8">
        <TaskReportEditCard ID=@ID TaskID=@TaskID CheckListID=@CheckListID ReportID=@ReportID 
                            NavigationUrl="/tester/reports/{ReportID}/tasks/{ID}/edit"
                            UseNavigations="true"/>
    </MudItem>
</MudGrid>

@code {

    public string GetBackUrl()
    {
        if (ReportID != null)
        {
            return $"/tester/reports/{ReportID}";
        }
        else
        {
            return $"/tester/checklists/{CheckListID}";
        }
    }
    
    [Parameter]
    public int? ID { get; set; }

    [Parameter]
    public int TaskID { get; set; } = 0;

    [Parameter]
    public int CheckListID { get; set; } = 0;
    
    [Parameter]
    public int ReportID { get; set; }

    public bool IsEdit => ID != null;
    public string PageTitle => IsEdit ? "Изменение отчёта задачи" : "Создание отчёта задачи";

}