@using TodoStudent.Shared.Models

<MudPaper Class="pa-4">
    <MudGrid Spacing="1">
        <MudItem xs="12">
            <MudText Typo="Typo.h5">@(Model?.name)</MudText>
        </MudItem>
        <MudItem xs="12">
            <MudText>@(Model?.description ?? "нет описания")</MudText>
        </MudItem>
        <MudItem xs="12">
            <MudStack>
                <MudButton StartIcon="@Icons.Material.Filled.Start" Href=@($"/tester/checklists/{Model.id}/info")
                           Color="Color.Success">
                    Открыть информацию
                </MudButton>
            </MudStack>
        </MudItem>
    </MudGrid>
</MudPaper>

@code{

    [Parameter]
    public CheckListModel? Model { get; set; }

}