@using TodoStudent.Shared.Models
@using TodoStudent.Client.Components
<MudTreeViewItem @bind-Expanded="@expanded" Items="@Parent.subtasks">
    <Content>
        <TaskCard Model=@Parent/>
    </Content>
</MudTreeViewItem>
@code {
    [Parameter] public TaskModel Parent { get; set; }
    private bool expanded;
}