@using TodoStudent.Shared.Models
@using Refit
<MudPaper Class="pa-4">
    <MudGrid Spacing="0">
        <MudItem xs="12">
            <MudText Typo="Typo.h5">@(Model.name)</MudText>
        </MudItem>
        <MudItem xs="12">
            <MudText>Описание: @(Model.description ?? "отсутствует")</MudText>
        </MudItem>
        @if (ShowActions)
        {
            @if (!Model.subtasks.Any())
            {
                <MudItem xs="12">
                    @if (Model.ReportTaskID == null)
                    {
                        <MudButton Href=@($"/tester/reports/{ReportID}/tasks/{Model.id}/create") StartIcon="@Icons.Material.Filled.Create" Color="Color.Success">Создать отчёт</MudButton>
                    }
                    else
                    {
                        <MudButton Href=@($"/tester/reports/{ReportID}/tasks/{Model.ReportTaskID}/edit") StartIcon="@Icons.Material.Filled.Edit" Color="Color.Warning">Изменить отчёт</MudButton>
                    }
                </MudItem>
            }
            else
            {
                <MudItem xs="12">
                    <MudAlert Icon="@Icons.Material.Filled.ArrowLeft" Severity="Severity.Warning">Этот тест имеет вложение. Для просмотра элементов вопспользуйтесь раскрытием.</MudAlert>
                </MudItem>
            }
        }
    </MudGrid>
</MudPaper>

@code
{
    [Parameter]
    public int CheckListID { get; set; }

    [Parameter]
    public TaskModel Model { get; set; }

    [Parameter]
    public int? ReportID { get; set; }

    [Parameter]

    public bool ShowActions { get; set; } = true;
}