@using TodoStudent.Shared.ViewModels
@using TodoStudent.Shared.EditModels
@using AutoMapper
@using FormatWith
@using Refit
@using TodoStudent.Shared.Extensions
@using TodoStudent.Shared.Interfaces.Refit
@using TaskStatus = TodoStudent.Shared.Models.TaskStatus
@using System.ComponentModel.DataAnnotations

<EditForm @ref="EditForm" Model="@Model" OnValidSubmit="OnValidSumbit">
    <DataAnnotationsValidator/>
    <MudGrid>
        <MudItem xs="12" sm="8">
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="Описание" Lines="3" @bind-Text="Model.Description" @bind-Value="Model.Description" For="() => Model.Description"/>
                    <MudTextField Label="Ссылка на файл" @bind-Value="Model.FileUrl" For="() => Model.FileUrl"/>
                        <MudAutocomplete T="TaskStatus"
                                         @bind-Value="Model.Status"
                                         Label="Статус задачи"
                                         SearchFunc="@SearchTaskStatus"
                                         ToStringFunc="@(x => x != null ? x.GetDAttribute().Name : null)"/>
                </MudCardContent>
                <MudCardActions>
                    <MudTooltip Delay="1000" Text="Сохранить">
                        <MudFab ButtonType="ButtonType.Submit"
                                DisableElevation="true"
                                StartIcon="@Icons.Material.Filled.Save"
                                Color="Color.Primary"/>
                    </MudTooltip>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>

@code {

    [Inject]
    private IMapper Mapper { get; set; }

    [Inject]
    private IUserTaskReportController ModelController { get; set; }

    [Inject]
    private NavigationManager NavigationManager { get; set; }

    [Inject]
    private ISnackbar Snackbar { get; set; }


    [Parameter]
    public int? ID { get; set; }

    [Parameter]
    public int TaskID { get; set; } = 0;

    [Parameter]
    public int CheckListID { get; set; } = 0;

    public EditForm EditForm { get; set; }

    public bool IsEdit => ID != null;
    public string PageTitle => IsEdit ? "Изменение отчёта задачи" : "Создание отчёта задачи";

    private UserTaskReportEditModel Model = new();
    private List<TaskStatus> TaskStatuses = new(Enum.GetValues<TaskStatus>());

    [Parameter]
    public bool UseNavigations { get; set; } = false;
    
    [Parameter]
    public int ReportID { get; set; }

    private string _navigationUrl = "/tester/checklists/{CheckListID}/tasks/{TaskID}/{ID}/edit";

    [Parameter]
    public string? NavigationUrl
    {
        get => _navigationUrl.FormatWith(new { ID, CheckListID, TaskID, ReportID });
        set => _navigationUrl = value ?? string.Empty;
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (IsEdit)
            {
                Model = Mapper.Map<UserTaskReportEditModel>(await ModelController.GetByID(ID.GetValueOrDefault()));
            }
        }
        catch (ValidationApiException validationException)
        {
            Snackbar.Add(validationException.Content.Detail, Severity.Error);
        }
        catch (ApiException exception)
        {
            Snackbar.Add(exception.RequestMessage.Content.ToString(), Severity.Error);
        }
    }

    private async Task OnValidSumbit()
    {

        if (ReportID == null)
        {
            Snackbar.Add("Не указан ReportID. Добавление возможно только при наличии отчёта к чек-листу", Severity.Error);
            return;
        }
        Model.UserCheckListReportID = ReportID;
        try
        {
            var result = IsEdit
                ? await ModelController.Update(ID.GetValueOrDefault(), Model)
                : await ModelController.Create(Model);

            Model = Mapper.Map<UserTaskReportEditModel>(result);
            ID = result.ID;
            if (UseNavigations)
            {
                NavigationManager.NavigateTo(NavigationUrl);
            }
            Snackbar.Add("Отчёт о задаче успешно сохранён", Severity.Normal);
        }
        catch (ValidationApiException validationException)
        {
            Snackbar.Add(validationException.Content.Detail, Severity.Error);
        }
        catch (ApiException exception)
        {
            Snackbar.Add(exception.RequestMessage.Content.ToString(), Severity.Error);
        }
    }

    private async Task<IEnumerable<TaskStatus>> SearchTaskStatus(string arg)
    {
        if (string.IsNullOrWhiteSpace(arg))
        {
            return TaskStatuses;
        }

        return TaskStatuses.Where(x => x.GetDAttribute().Name.Contains(arg, StringComparison.InvariantCultureIgnoreCase));
    }

    public async Task SaveAsNew()
    {
        ID = null;
        await EditForm.OnValidSubmit.InvokeAsync();
    }

}