@page "/tester/checklists"

@layout TesterLayout

@using TodoStudent.Client.Components
@using TodoStudent.Shared.Interfaces.Refit
@using TodoStudent.Shared.Models

<MudGrid>
    <MudItem xs="12">
        <MudText Typo="Typo.h3">
            Просмотр чек-листов
        </MudText>
    </MudItem>
    @foreach (var model in Models)
    {
        <MudItem xs="12" sm="3">
            <CheckListCard Model=@(model)/>
        </MudItem>
    }
</MudGrid>

@code {

    [Inject]
    public ICore Core { get; set; }

    private bool Loading = true;

    public List<CheckListModel> Models { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadDates();
    }

    private async Task LoadDates()
    {
        try
        {
            Models = await Core.GetCheckLists();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
        Loading = false;
    }

}