@page "/tester/checklists/{ID:int}/info"

@layout TesterLayout

@using TodoStudent.Client.Components
@using TodoStudent.Shared.Interfaces.Refit
@using TodoStudent.Shared.Models

<MudGrid>
    <MudItem xs="12">
        <MudPaper Class="pa-2">
            @if (Loading)
            {
                <MudSkeleton SkeletonType="SkeletonType.Text"/>
            }
            else
            {
                <MudText Typo="Typo.h3">
                    @(Model.name)
                </MudText>
            }
        </MudPaper>
    </MudItem>
    @if (Loading)
    {
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="50vw"/>
    }
    else
    {
      
    @* Tasks *@
        <MudItem xs="12">
            <MudGrid xs="12">
                <MudItem xs="12">
                    <MudText Typo="Typo.h4">Задачи</MudText>
                </MudItem>
                <MudItem xs="12">
                    <MudGrid>
                        <MudItem>
                            <MudTreeView Items="ClearedModels">
                                <ItemTemplate>
                                    <MudTreeViewItem Items="@context.subtasks" @bind-Expanded="@context.Expanded">
                                        <Content>
                                            <MudTreeViewItemToggleButton @bind-Expanded="@context.Expanded" Visible="@context.subtasks.Any()"/>
                                            <TaskCard ShowActions="false" Model=@context CheckListID=@ID/>
                                        </Content>
                                    </MudTreeViewItem>
                                </ItemTemplate>
                            </MudTreeView>
                        </MudItem>
                    </MudGrid>
                </MudItem>
            </MudGrid>
        </MudItem>

        <MudItem xs="12">
            <MudPaper Class="pa-2">
                <MudGrid>
                    <MudItem xs="12">
                        <MudText>Информация о чек-листе: @(Model?.name)</MudText>
                        <MudText>Описание: @(Model?.description ?? "отсутствует")</MudText>
                    </MudItem>
                </MudGrid>
            </MudPaper>
        </MudItem>
    }

</MudGrid>

@code{

    [Parameter]
    public int ID { get; set; }

    public bool Loading { get; set; } = true;

    public List<TaskModel> Tasks { get; set; } = new();
    public HashSet<TaskModel> ClearedModels { get; set; } = new();

    public CheckListModel? Model { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000);
        await LoadDates();
    }

    [Inject]
    public ICore Core { get; set; }

    private async Task LoadDates()
    {
        try
        {
            ClearedModels = (await Core.GetTasksByCheckListID(ID)).ToHashSet();
            var models = await Core.GetCheckLists();
            Model = models.FirstOrDefault(x => x.id == ID);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
        Loading = false;
    }

}