@inject NavigationManager Navigation

<AuthorizeView>
    <NotAuthorized>
        <MudAlert Severity="Severity.Error">Перенаправляем на вход...</MudAlert>
    </NotAuthorized>
    <Authorizing>
        <MudAlert Severity="Severity.Warning">Проверка аутентификации...</MudAlert>
    </Authorizing>
    <Authorized>
        @if (context.User.Identity.IsAuthenticated)
        {
            isAuthorized = true;
        }
        <MudAlert Severity="Severity.Error">
            Отсутствует доступ к просмотру содержимого.<br/>
            Если Вы считаете это ошибкой - обратитесь к Администрации.
        </MudAlert>
    </Authorized>
</AuthorizeView>

@code {
    bool isAuthorized = false;

    [Inject]
    private ILocalStorageService LocalStorage { get; set; }

    [Inject]
    private AuthenticationStateProvider AuthenticationStateProvider { get; set; }

    public bool IsLoaded { get; set; } = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await Task.Delay(2000);
        
        if (!isAuthorized)
        {
            Navigation.NavigateTo($"auth?returnUrl={Navigation.Uri}");
        }
    }

    protected override async Task OnInitializedAsync()
    {
    }

}