<MudNavMenu>
    <MudNavLink Href="tester" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Главная страница</MudNavLink>
    <MudNavLink Href="tester/checklists" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.List">Чек-листы</MudNavLink>
    <MudNavLink Href="tester/reports" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Add">Отчёты</MudNavLink>
</MudNavMenu>